* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.5px dotted cyan; */
}

body {
  background-color: lightblue;
}

#answer {
  border: 1px solid black;
  padding: 100px;
  background: white;
}

form {
  background: white;
}

#image-container {
  display: none;
}