<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>JobGuard Solutions</title>
  </head>
  <body>
    <a href="/" class="btn btn-secondary">&lt;&lt; Home</a>
    <div class="container">
      <h1 class="display-4 text-center font-weight-bold mt-1">Job Posting Checker</h1>
      <div class="row mt-1">
        <div class="col">
          <form id="myForm" action="/api" method="post" class="p-3">
            <div class="row mt-1">
              <div class="form-group col-md-4">
                <label for="title" class="form-label">Job Title</label>
                <input id="title" type="text" class="form-control" placeholder="Job Title" name="title" />
              </div>
              <div class="form-group col-md-4">
                <label for="company" class="form-label">Company Name</label>
                <input id="company" type="text" class="form-control" placeholder="Company Name" name="company" />
              </div>
              <div class="form-group col-md-4">
                <label for="salary" class="form-label">Salary Range</label>
                <input id="salary" type="text" class="form-control" placeholder="Salary Range" name="salary" />
              </div>
            </div>
            <div class="row mt-1">
              <div class="form-group col-md-4">
                <label for="location" class="form-label">Location</label>
                <input id="location" type="text" class="form-control" placeholder="Location" name="location" />
              </div>
              <div class="form-group col-md-4">
                <label for="department" class="form-label">Department</label>
                <select class="form-select" aria-label="choose department" id="department" name="department">
                  <option disabled selected>--Department--</option>
                  <option>Sales</option>
                  <option>Engineering</option>
                  <option>Marketing</option>
                  <option>Operations</option>
                  <option>IT</option>
                  <option>Development</option>
                  <option>Product</option>
                  <option>Information Technology</option>
                  <option>Customer Service</option>
                  <option>Finance</option>
                  <option>HR</option>
                  <option>Tech</option>
                  <option>R&D</option>
                  <option>Creative</option>
                  <option>Retail</option>
                  <option>Client Services</option>
                  <option>Product Development</option>
                  <option>Business Development</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="employment_type" class="form-label">Employment Type</label>
                <select class="form-select" aria-label="choose employment type" id="employment_type" name="employment_type">
                  <option disabled selected>--Employment Type--</option>
                  <option>Part-Time</option>
                  <option>Full-Time</option>
                  <option>Temporary</option>
                  <option>Contract</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
            <div class="row mt-1">
              <div class="form-group col-md-4">
                <label for="required_education" class="form-label">Required Education</label>
                <select class="form-select" aria-label="choose education" id="required_education" name="required_education">
                  <option disabled selected>--Required Education--</option>
                  <option>High School or equivalent</option>
                  <option>Some College Coursework Completed</option>
                  <option>Associate Degree</option>
                  <option>Bachelors Degree</option>
                  <option>Master's Degree</option>
                  <option>Certification</option>
                  <option>Professional</option>
                  <option>Unspecified</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="required_experience" class="form-label">Required Experience</label>
                <select class="form-select" aria-label="choose experience" id="required_experience" name="required_experience">
                  <option disabled selected>--Required Experience--</option>
                  <option>Applicable</option>
                  <option>Apprenticeship/Internship</option>
                  <option>Entry Level</option>
                  <option>Associate</option>
                  <option>MidSenior Level</option>
                  <option>Senior Level</option>
                  <option>Manager Level</option>
                  <option>Director</option>
                  <option>Executive</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="industry" class="form-label">Industry</label>
                <select class="form-select" aria-label="choose industry" id="industry" name="industry">
                  <option disabled selected>--Industry--</option>
                  <option>Technology and Services</option>
                  <option>Computer Software</option>
                  <option>Internet</option>
                  <option>Education Management</option>
                  <option>Marketing and Advertising</option>
                  <option>Financial Services</option>
                  <option>Hospital & Health Care</option>
                  <option>Consumer Services</option>
                  <option>Telecommunications</option>
                  <option>Oil & Energy</option>
                  <option>Retail</option>
                  <option>Real Estate</option>
                  <option>Accounting</option>
                  <option>Construction</option>
                  <option>E-Learning</option>
                  <option>Design</option>
                  <option>Staffing and Recruiting</option>
                  <option>Management Consulting</option>
                  <option>Health, Wellness and Fitness</option>
                  <option>Insurance</option>
                </select>
              </div>
            </div>
            <div class="row mt-1">
              <div class="form-group col-md-6">
                <label for="requirements" class="form-label">Requirements</label>
                <textarea id="requirements" class="form-control" placeholder="Requirements" name="requirements" rows="5"></textarea>
              </div>
              <div class="form-group col-md-6">
                <label for="benefits" class="form-label">Benefits</label>
                <textarea id="benefits" class="form-control" placeholder="Benefits" name="benefits" rows="5"></textarea>
              </div>
            </div>
            <div class="row mt-1">
              <div class="form-group col-md-12">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" class="form-control" placeholder="Job Description" name="description" rows="7"></textarea>
              </div>
            </div>
            <div class="row mt-1">
              <div class="form-group col-md-12">
                <label for="company-profile" class="form-label">Company Profile</label>
                <textarea id="company-profile" class="form-control" placeholder="Company Profile" name="company-profile" rows="4"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <input class="btn btn-success" type="submit" />
              <button class="btn btn-secondary mt-1" type="button" onclick="document.getElementById('myForm').reset();">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="text-muted text-right container-fluid bg-light mt-3 p-2">Computer Science Capstone Project by: Monica Hong, WGU Student ID# 011580462, June 26, 2024</footer>
  </body>
  <script src="{{ url_for('static', filename='script.js')}}"></script>
</html>